<div class = "border-bottom row" style = "margin-bottom : 16px; padding-bottom : 8px">
  <div class = "col-9">
    <h4 style = "color : rgb(120, 120, 120)">
      {{job['title']}}
    </h4>
    <b>Location : </b>{{job['location']}}
    <div>
      {% if 'Salary' in job %}
      <b>Salary : </b>{{job['Salary']}}
      {% endif %}
    </div>
  </div> 
  <div class = "col-3">
  <a target = "_blank" rel="noopener" href = " mailto:adityasanyal1996@gmail.com?subject=Application%20for%20{{job['title']}}&body=My%20Name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AResume%20link%20%3A%20%3Cyour%20resume%20link%3E%0D%0A%0D%0ALinkedIn%20profile%20%3A%20%3Cyour%20linkedIn%20profile%3E " type="button" class="btn btn-outline-primary">Apply</a>
  </div>
  </div>